// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: linear-gradient( #150679, #89ABCD)),
		url('http://www.outbackencounter.com/images/images_processed/farawaybay_landscape_cliffsatsunset.jpg');
	            
	background-blend-mode: screen;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
