// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('http://www.outbackencounter.com/images/images_processed/farawaybay_landscape_cliffsatsunset.jpg'),
	            linear-gradient( rgba(152,185,115,0.679), rgba(234, 212, 123, 0.212));
	background-blend-mode: screen;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
